[{:itonami.blueprint/social-impact [:worker-safety :craft-quality :instrument-longevity]
  :itonami.blueprint/domain :manufacturing/musical-instrument-workshop-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "7312"
  :itonami.blueprint/name "Musical Instrument Workshop Coordination Practice"
  :itonami.blueprint/governor :instrumentmaker-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-7312"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
